@model SalesWebMvc.Models.Department

@{
    ViewData["Title"] = "Details";
}

<div class="container mt-5">
    <h1>@ViewData["Title"]</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Department Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>
        </div>
    </div>

    <div class="mt-4">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
