@{
    ViewData["Title"] = "Sales Records";
}


<div class="row mt-5">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div class="col-md-6">
        <form class="card" asp-action="SimpleSearch">
            <div class="card-body">
                <h5 class="card-title text-primary">Simple Search</h5>
                <div class="form-group">
                    <label for="minDate" class="control-label">Min Date</label>
                    <input type="date" name="minDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="maxDate" class="control-label">Max Date</label>
                    <input type="date" name="maxDate" class="form-control" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </div>
            </div>
        </form>
    </div>

    <div class="col-md-6">
        <form class="card" asp-action="GroupingSearch">
            <div class="card-body">
                <h5 class="card-title text-primary">Grouping Search</h5>
                <div class="form-group">
                    <label for="minDate" class="control-label">Min Date</label>
                    <input type="date" name="minDate" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="maxDate" class="control-label">Max Date</label>
                    <input type="date" name="maxDate" class="form-control" />
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary mt-3">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
