html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.navbar-nav .nav-item {
    margin-left: 10px; 
}

.navbar-nav .nav-link {
    font-size: 18px; 
}

    .navbar-nav .nav-link:hover {
        box-shadow: 5px 5px;
        border-radius: 0.5rem;
        transition: 0.3s;
    }


